
.wrapper-contact{
    background-color:white
    
}

.h1-span{
    font-family: cursive;
    font-size: 50px;
    color: slateblue;
}
h1{
    font-size: 40px;
}

.btn-contact{
    background-color: red;
    color: yellow;
    border-radius: 4px;
    border: 1px solid black;
    cursor: pointer;
    box-shadow: black 0px 2px 15px;
}
.contact-image{
    background-image:url('C:\Users\user pc\Desktop\portfolio\myportfolio\New folder\map-950353__340.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

@media screen and (max-width:450px) {
    .wrapper-contact h1{
        background-color:white;
        font-size: 20px;
        
    }
    .h1-span{
        font-family: cursive;
        font-size: 30px;
        color: slateblue;
    }
    .wrapper-contact Table{
        width: 96%;
        font-size: 8px;
        margin-left: 1px;
        
        
    }
    .contact-image{
        background-image:url('C:\Users\user pc\Desktop\portfolio\myportfolio\New folder\map-950353__340.webp');
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
        width: 97%;
    }
}