

.active{
  color: red;
}
.navbar{
  background-color:#3B9AE1;
  height: 70px;
  align-items: center;
}
.span-words{
  color: gold;
}
.portfolio{
  color: white;
  font-family: cursive;
  font-size: 30px;
}
.nav-items{
  display: inline-block;
  
  margin-left: 15px;
  margin-right: 5px;
  
  color: white;
}
.nav-items:hover{
  color: chartreuse;
  transition: 1s;
  background-color:red;
  text-decoration: none;
  border-radius: 5px;
}

@media screen and (max-width:450px) {
  .navbar{
    background-color:black;
    height: 50px;
    width:100%;
    align-items: left;
  }
  .portfolio{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
  }
  .nav-items{
    display:inline-block;
    
    margin-left: 5px;
    margin-right: 1px;
    
    color: white;
    font-size: 9px;
  }
  .nav-items:hover{
    color: chartreuse;
    
    background-color:red;
    text-decoration: none;
    border-radius: 1px;
  }
}
